<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Message</title>
</head>
<body>
  <nav class="navbar navbar-light bg-white shadow-sm p-2">
    <div class="container-fluid">
        <a href="/user/" class="btn btn-sm btn-primary fw-bold ms-2">
            🏠 Home
        </a>
    </div>
</nav>

      <% if (locals.msg) { %>
        <div>
            <label>FROM : </label>
            <label>FROM : </label>
        </div>
      <% } else { %>
        <h1>ERROR</h1>
</body>
</html>